<template>
  <q-page class='flex flex-center'>
    <img class='marvel__logo' src="https://www.laughingplace.com/w/wp-content/uploads/2018/06/Marvel-comics-logo-vector-e1530211259696-768x387.png" alt="">
    <div v-for='(character, index) in characters' :key='index'>
      <div class='character__container'>
        <div class='character__name'> {{ character.name }} </div>
        <div class="character__id"> {{ character.id }} </div>
        <img class='character__image' :src="character.thumbnail.path + '.' + character.thumbnail.extension">
      </div>
    </div>
  </q-page>
</template>

<style>
   body{
    background-color: #37474f;
}
  .marvel__logo{
    width: 318px;
    height: 150px;
  }
  .character__image{
    width: 299px;
    height: 299px;
  }
  .character__container{
    text-align: center;
    -webkit-box-shadow: 3px 4px 7px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 7px -2px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 7px -2px rgba(0,0,0,0.75);
    height: 347px;
    margin: 10px;
  }
  .character__name, .character__id{
    font-weight: bold;
    font-size: 20px;
    background-image: linear-gradient(-90deg, #616161, #ED1D24 );
  }
</style>

<script>
export default {
  name: 'PageIndex',

  // view Data
  data: () => ({
    publicApiKey: 'e9953b89e7934d5fae48481590f909a6',
    characters: []
  }),

  // events
  mounted () {
    this.$axios.get('https://gateway.marvel.com:443/v1/public/characters?apikey=e9953b89e7934d5fae48481590f909a6')
      .then((res) => {
        console.log('Respuesta obtenida', res.data.data.results)
        this.characters = res.data.data.results
      })
      .catch((error) => {
        console.log('Algo malo pasó', error)
      })
  }
}
</script>
