#root {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #bbddbb;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.pelicula{
  height: 400px;
  width: 32%;
  float: right;
  font-family: Roboto;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  -webkit-box-shadow: 3px 3px 23px 2px rgba(0,0,0,0.35);
  -moz-box-shadow: 3px 3px 23px 2px rgba(0,0,0,0.35);
  box-shadow: 3px 3px 23px 2px rgba(0,0,0,0.35);
}
.pelicula__titulo{
  font-size: 25px;
  background-image: linear-gradient(-90deg, #f8bbd0, #4fc3f7);
  padding: 20px;
  color: white;
  font-weight: bold;
}
.pelicula__descripcion{
  margin: 17px;
}
.card {
  margin: 1rem;
  border: 1px solid gray;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}