<template>
  <q-page class="flex flex-center">
    <form class='gutter-sm' @submit.prevent='submit()'>
      <q-input v-model="usuario.name" color='negative' float-label="Name" placeholder="Enter Your Name" />
      <div class="text-center">
        <q-btn icon="create" color='secondary' label="New item" />
      </div>
    </form>
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'UserCreate',
  data: () => ({
    usuario: {
      name: '',
      email: '',
      address: {
        city: ''
      },
      phone: '',
      website: '',
      company: {
        name: ''
      }
    }
  }),
  methods: {
    submit () {
      this.$axios.post('https://jsonplaceholder.typicode.com/users')
        .then((res) => {
          console.log('Respuesta recibida', res)
        })
        .catch((error) => {
          console.error('Algo malo pasó', error)
        })
    }
  }
}
</script>
